<a href="https://colab.research.google.com/github/Nikhil5566/Machine-Learning/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [25]:
df = pd.read_csv('ML_data.csv')

In [26]:
df.head(11)

   Country   Age   Salary Purchaged
0   France  44.0  72000.0        no
1    Spain  27.0  48000.0       yes
2  Germany  30.0  54000.0        no
3    Spain  38.0  61000.0        no
4  Germany  40.0      NaN       yes
5   France  35.0  58000.0       yes
6    Spain   NaN  52000.0        no
7   France  48.0  79303.0       yes
8  Germany  50.0  83000.0        no
9   France  37.0  87000.0       yes

In [27]:
duplicate = df.duplicated().sum()
duplicate

np.int64(0)

In [28]:
missing_values = df.isnull().sum()
missing_values

Country      0
Age          1
Salary       1
Purchaged    0
dtype: int64

In [29]:
df['Age'] = df['Age'].fillna(30)

In [30]:
df['Salary'] = df['Salary'].fillna(41000)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        10 non-null     float64
 2   Salary     10 non-null     float64
 3   Purchaged  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

In [32]:
df.describe()

             Age        Salary
count  10.000000     10.000000
mean   37.900000  63530.300000
std     7.766738  15846.400321
min    27.000000  41000.000000
25%    31.250000  52500.000000
50%    37.500000  59500.000000
75%    43.000000  77477.250000
max    50.000000  87000.000000

# ML

In [33]:
df = pd.read_csv('ML_data.csv')
X = df.iloc[:, :-1].values
Y = df.iloc[:, -1].values

In [34]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79303.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 87000.0]]

In [35]:
print(Y)

['no' 'yes' 'no' 'no' 'yes' 'yes' 'no' 'yes' 'no' 'yes']

### Taking care of missing values: [ with ML ]

In [40]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy = 'mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [41]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 66033.66666666667]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79303.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 87000.0]]